html {
  padding: 135px;
  background-color: #eaf2ff;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
}
.logo {
  display: contents;
  width: 100px;
  height: 44px;
  padding: 4px;
  border-radius: 32%;
  background-color: #508ff4;
  font-size: 38px;
  color: white;
  text-align: center;
}
.shortcut {
  display: flex;
  justify-content: space-between;
}
.shortcut span {
  display: grid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-color: #ffffff;
}

.shortcut span img {
  padding: 13px;
  width: 24px;
  height: 24px;
  color: #d0dbe5;
}
.shortcut a {
  display: contents;
}
.ellipse {
  width: 12px !important;
  margin-top: -55px;
  margin-left: -1px;
}

.Sidebar {
  width: 287px;
  height: 803px;
  border-radius: 12px;
  padding: 12px 31px;
  background-color: #ffffff;
}
.Sidebar .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile h6 {
  width: 164px;
  padding-left: 11px;
  font-size: 18px;
  float: right;
}
.profile span {
  width: 60px;
  height: 30px;
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  color: #ffffff;
  background-color: #508ff4;
}
.container {
  display: flex;
}
ul {
  list-style: none;
}
ul li a img {
  padding-right: 20px;
}
ul li a span {
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
  border-radius: 50%;
  color: white;
  background-color: #52575d;
}
.leadSales {
  width: 552px;
  height: 357px;
  padding: 0px 16px;
  border-radius: 8px;
  background-color: #ffffff;
}
.bodyDashboard {
  display: grid;
  grid-template-columns: 584px 239px;
  column-gap: 15px;
  padding-left: 14px;
}
hr {
  width: 93%;
  height: 2px;
  border: none;
  color: #EBF2F7;
  background-color: #EBF2F7;
}
.info{
  display: flex;
  padding: 0 34px;
  justify-content: space-between;
}
.referelProfile .EatchReferral{
  display: flex;
  height: 40px;
  padding: 4px 0;
  justify-content: space-between;
}
.EatchReferral h6, 
.EatchReferral p {
  align-self: center;
  
}
.ReferralBar {
  width: 239px;
  height: 803px;
  border-radius: 12px;
  padding: 12px 31px;
  background-color: #ffffff;
}