html {
  padding: 31px 86px;
  background-color: #eaf2ff;
}
.header {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 22px;
}
.logo {
  display: contents;
  width: 100px;
  height: 44px;
  padding: 4px;
  border-radius: 32%;
  background-color: #508ff4;
  font-size: 38px;
  color: white;
  text-align: center;
}
.shortcut {
  display: flex;
  justify-content: space-between;
}
.shortcut span {
  display: grid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-color: #ffffff;
}

.shortcut span img {
  padding: 13px;
  width: 24px;
  height: 24px;
  color: #d0dbe5;
}
.shortcut a {
  display: contents;
}
.ellipse {
  width: 12px !important;
  margin-top: -55px;
  margin-left: -1px;
}

.Sidebar {
  position: relative;
  border-radius: 12px;
  padding: 12px 31px;
  box-shadow: 5px 4px 8px #88888824;
  background-color: #ffffff;
}
.Sidebar .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile h6 {
  width: 200px;
  padding-left: 11px;
  font-size: 18px;
  float: right;
}
.profile span {
  width: 60px;
  height: 30px;
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  color: #ffffff;
  background-color: #508ff4;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 28px;
}

.box1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 239px;
  height: 803px;
  justify-self: end;
}
.box2{
  /* max-height: 150px; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box3{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}
ul {
  list-style: none;
}
ul li a img {
  padding-right: 20px;
}
ul li a span {
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
  border-radius: 50%;
  color: white;
  background-color: #52575d;
}
.leadSales {
  padding: 0px 16px;
  border-radius: 8px;
  box-shadow: 5px 4px 8px #88888824;
  background-color: #ffffff;
}
.bodyDashboard {
  display: grid;
  grid-template-columns: 584px 239px;
  column-gap: 15px;
  padding-left: 14px;
}
hr {
  width: 93%;
  height: 2px;
  border: none;
  color: #EBF2F7;
  background-color: #EBF2F7;
}
.info{
  display: flex;
  height: 53px;
  padding: 0 34px;
  justify-content: space-between;
}
.referelProfile .EatchReferral{
  display: flex;
  height: 40px;
  padding: 10px 0;
  justify-content: space-between;
}
.EatchReferral h6, 
.EatchReferral p {
  align-self: center;
  
}
.ReferralBar {
  width: 239px;
  height: 803px;
  position: relative;
  border-radius: 12px;
  padding: 12px 31px;
  overflow: hidden;
  box-shadow: 5px 4px 8px #88888824;
  background-color: #ffffff;
}
.imgProfile{
  border-radius: 50%;
}
.load{
  position: absolute;
  bottom: 0;
  left: -25px;
}
.loadUsers{
  position: absolute;
  bottom: 0;
  left: -16px
}
.UsersActivity{
  position: relative;
  border-radius: 8px;
  height: 328px;
  overflow: hidden;
  box-shadow: 5px 4px 8px #88888824;
  background-color: #ffffff;
}
.user{
  width: 190px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 60px;
  border-radius: 12px;
  background-color: #ffffff;
  justify-content: space-evenly;
  box-shadow: 8px 13px 5px #88888824;
}
.ticketId{
  color: #508FF4;
  font-size: 16px;
  font-weight: 700;
}
.ticket{
  color: #B3B8BD;
  font-size: 16px;
  font-weight: 700;
}
.ticketDisc{
  color: #52575D;
  font-size: 16px;
}
a{
  text-decoration: auto;
}
.info p {
  font-family: 'Rajdhani';
  font-size: 25px;
  font-weight: bold;
}
.info .iInfo {
  color: #B3B8BD;
  font-size: 20px;
  font-weight: normal;
}
ul{
  display: flex;
  flex-direction: column;
  padding: initial;
}
ul li a {
  color: #508FF4;
  font-size: 20px;
  font-weight: 500;
}
.Menu .active{
  border: 1px solid #EAF2FF;
  background-color: #EAF2FF;
  border-radius: 25px;
  padding: 9px;
  width: 204px;
}
.Menu li {
  padding: 9px;
}
.ticketList{
  padding: 1px 12px;
}

.logout{
  padding: 0 12px;
}
.logoutBtn{
  width: inherit;
  position: absolute;
  bottom: 27px;
  font-size: 20px;
}
.notification::before{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  border-radius: 50%;
  margin-top: 14px;
  margin-left: 10px;
  background: #1bc167;
}